@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 16px;
}
#container{
    max-width: 1000px;
    width:95%;
    margin:0 auto;
}
#header{
    background: url(./img/img/picture1.jpg)no-repeat;
    height: 300px;
}
h1{
    color: white;
    font-size: 3rem;
    padding: 150px 260px;
}
#nav{
    background-color:#5473b4;
    padding: 20px;
}
#nav a{
    text-decoration: none;
    color: white;
    padding-left: 80px;
}